html{
    font-family: "azo-sans-web",sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
    top: 0px;
    background-color: #F5F7F7;
    color: #3A3D3C;
}
a{
    text-decoration: none;
    color: #3A3D3C;
}
#navBar{
    width: 100%;
    background-color: white;
    height: 96px;
    line-height: 96px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E3DEDE;
    letter-spacing: 1px;
}
#title{
    margin: 0px 32px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
}
#nav-links{
    float: right;
    display: inline-block;
    margin-right: 16px;
}
.navText{
    margin: 0px 16px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
#search{
    display: inline-block;
    outline: none;
    border: 1px solid #E3DEDE;
    background-color: #F5F7F7;
    border-radius: 4px;
    padding: 8px;
}
#sideBar{
    display: inline-block;
    position: relative;
}
.sideBar{
    width: 280px;
    margin: 0px 24px 24px 24px;
    border-radius: 4px;
    border: 1px solid #E3DEDE;
    background-color: white;
    height: 400px;
    display: inline-block;
    position: relative;
}
#instagram{
    width: 282px;
    margin: 0px 24px 24px 24px;
}
#blog{
    padding-bottom: 24px;
    margin-bottom: 24px;
    width: calc(100% - 356px);
    background-color: white;
    border-radius: 4px;
    border: 1px solid #E3DEDE;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
}
.article{
    width: 300px;
    overflow: hidden;
    margin: auto;
    padding: 30px 20px 0px 20px;
}
.article p{
    font-size: 12px;
}
.blog-image{
    width: 100%;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
}
.blog-image img{
    width: 100%;
    height: auto;
}

#selected-terms{
    cursor: text;
    width: 800px;
    margin-left: 50%;
    transform: translate(-50%, 0px);
    background-color: white;
    border: 1px solid #E3DEDE;
    border-radius: 4px;
    position: relative;
    display: block;
    padding: 0px 0px 16px 24px;
}
.browse-selection{
    background-color: #E6E9FF;
    padding: 0px 8px 0px 16px;
    margin: 16px 16px 0px 0px;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
}
.browse-selection p{
    display: inline-block;
}
.x-out{
    width: 16px;
    display: inline-block;
    padding: 8px;
    vertical-align: middle;
}
#browse-keywords{
    display: block;
    width: calc(100% - 32px);
    border-top: 1px solid #E3DEDE;
    margin-top: 20px;
}
#browse-keywords input{
    width: calc(100% - 70px);
    border: none;
    outline: none;
    padding: 16px;
}
#browse-selectors{
    width: 800px;
    margin: 16px 0px 16px 50%;
    transform: translate(-50%, 0px);
    background-color: white;
    border: 1px solid #E3DEDE;
    border-radius: 4px;
    position: relative;
    padding: 8px 24px;
    font-size: 14px;
    display: flex;
}
.browse-selector{
    margin: auto;
}
.browse-selector > *{
    display: inline-block;
}
.arrow{
    width: 12px;
}
.browse-dropdown{
    background-color: white;
    border: 1px solid #E3DEDE;
    font-size: 12px;
    position: absolute;
    border-radius: 4px;
    padding: 8px 16px;
}
.dropdown-item{
    cursor: pointer;
    padding-top: 4px;
}
.dropdown-more p{
    display: inline-block;
    vertical-align: middle;
}
.right-arrow{
    transform: rotate(-90deg);
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}

#results{
    position: absolute;
    width: 830px;
    margin: 146px 0px 16px 50%;
    padding: 24px 24px 0px 0px;
    transform: translate(-50%, 0px);
    display: flex;
    flex-wrap: wrap;
}
.results-profile{
    background-color: white;
    border: 1px solid #E3DEDE;
    border-radius: 4px;
    width: 202px;
    padding: 24px 24px;
    height: 252px;
    margin: 0px 0px 24px 24px;
}
.results-photo{
    width: 100%;
    height: calc(100% - 48px);
    object-fit: cover;
}
.results-name{
    font-size: 14px;
    font-weight: 500;
}
.results-title{
    font-size: 12px;
    margin-top: -8px;
}